*, *::after, *::before{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
:root{
    --font-color:rgb(3, 11, 20);
    /* --light-color: #57cac3; */
    --nav-b-color:  #fbfbfb;
    --light-color:rgb(104, 174, 254);
    --form-background:#f4f1f1;
}
.logo{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* margin: 5px 0px 10px 5px; */
    width: 100%;
    background-color: #fef7f7;
    padding: 10px;
}
.logo span, .logo svg{
    color:var(--light-color);
    fill: var(--light-color);
}
.heading{
    color: var(--light-color);
    margin-left: 10px;
    margin-bottom: 15px;
}
.profile-container{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-self: center;
    background-color:var(--light-color);
    color: var(--form-background);
    border-radius: 1.5rem;
    padding: 20px;
}
.profile-container button{
    padding: 2px 5px;
    font-size: 1rem;
    border: 1px solid var(--form-background);
    cursor: pointer;
    background-color: var(--light-color);
    text-align: center;
    text-transform: capitalize;
    font-size: .8rem;
}

.profile-container button:hover{
    color: #f4f1f1;
}
.profile-div{
    height: 200px;
    width: 200px;
    font-size: 4rem;
    padding: 10px;
    border-radius: 50%;
    background-color:var(--nav-b-color);
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}